body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

#works {
    padding: 20px;
    text-align: center;
}

.gallery {
    display: inline-block;
    text-align: left;
}

.gallery .row img {
    margin: 85px;
    width: 35%;
    height: auto;
}

.gallery .row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

h2, h3 {
    color: #333;
}

footer {
    background-color: #333;
    color: #ffffff80;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
